* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fafafa;
}

a, a:focus, a:hover, a:active {
	text-decoration: none;
	outline: none;
}

#parent {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style-type: none;
	margin: 0;
	padding: 2vh 5vw;
}

header {
	background-color: #00BFA5;
	color: #fff;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	box-shadow: 0 3px 7px #616161;
}
header a {
	color: #fff;
	font-weight: 200;
	
}
header a:hover {
	color: #fff;
}
header h1 {
	margin: 0;
	flex: 1;
	font-size: 3vmin;
}
header h1 a {
	color: #fff;
}

header nav {
	flex: 1;
	text-align: right;
}
header nav ul {
	list-style: none;
}
header nav ul li {
	display: inline-block;
	padding: 0 1vw;
}
header nav ul li a {
	
}
header nav ul li a:hover {
	background-color: #80CBC4;
}

#intro {}

#intro h2{
	font-family: 'Open Sans', sans-serif;
	text-transform: lowercase;
	text-align: center;
	line-height: 10;
	margin: 0;
}